{{!--

If the user is NOT logged in, and 'GET /home' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}

<br/>
<h1>Error: </h1>
<br/>
<br/>
<p class="is-red">{{message}}</p>
<br/>
<br/>
<button class="btn btn-primary" onclick="location.href='/'">Home</button>
<br/>

