{{!--

If the user is NOT logged in, and 'GET /home' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}

<p class="is-red">{{message}}</p>


<button onclick="location.href='/'">Home</button>