<form action="/clients/delete/{{clientId}}" method="post">
<p>Client Name: {{fname}} {{lname}}</p>
<p>Are You Sure You Want To Delete The Client?</p>
<button type="submit"> Yes </button>
</form>
<button onclick="location.href='/clients/client/{{clientId}}'"> No </button>