<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>
<h1>All Projects</h1>



{{#if x}}
    <p>Add projects by clicking the add Project button</p>
    {{else}}
    <main>
        <ul>
            {{#each projects}}
               <li>
                   <a href="/projects/project/{{this._id}}"> <h2>{{ this.projectName }} </h2> </a>
               </li>
            {{/each}}
        </ul>
</main>

{{/if}}

<button onclick="location.href='/projects/create'"> Add Project </button>