<h1>All Projects</h1>



{{#if x}}
    <p>Add projects by clicking the add Project button</p>
    {{else}}
    <main>
        <ul>
            {{#each projects}}
               <li>
                   <a href="/projects/project/{{this._id}}"> <h2>{{ this.projectName }} </h2> </a>
               </li>
            {{/each}}
        </ul>
</main>

{{/if}}

<button onclick="location.href='/projects/create'"> Add Project </button>