<form action="/projects/delete/{{projectId}}" method="post">
<p>Project Name: {{pname}}</p>
<p>Are You Sure You Want To Delete The project?</p>
<button type="submit"> Yes </button>
</form>
<button onclick="location.href='/projects/project/{{projectId}}'"> No </button>