<hr>

<h1>Sign-up Page</h1>

<hr>

<form id="registration-form" action="/register" method="post">
    <div class="mb-3">
        <label class="form-label" for="userFirstName">First Name: </label>
        <input class="form-control" id="userFirstName" name="userFirstName" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="userLastName">Last Name: </label>
        <input class="form-control" id="userLastName" name="userLastName" type="text">     
    </div>
    <div class="mb-3">
        <label class="form-label" for="userEmail">Email: </label>
        <input class="form-control" id="userEmail" name="userEmail" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="userGender">Gender: </label>
        <select class="form-control" id="userGender" name="userGender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="passwordInput">Password: </label>
        <input class="form-control" id="passwordInput" name="passwordInput" type="password">    
    </div>
    <button class="btn btn-success" type="submit">Register</button>
</form>

<br/>
<button class="btn btn-primary" onclick="location.href='/'">Login Page</button>
<br/>

{{#if error}}
    <h4>Error: </h4>
    <p class="is-red"> {{error}} </p>
{{/if}}

<hr>
<br/>
<br/>