 <dl>
  <dt>First Name: </dt>
  <dd>{{fname}}</dd>
  <br>
  <dt>Last Name: </dt>
  <dd>{{lname}}</dd>
  <br>
  <dt>Email: </dt>
  <dd>{{email}}</dd>
  <br>
  <dt>Gender: </dt>
  <dd>{{gender}}</dd>
</dl> 

<br>

<button onclick="location.href='/user/profile/edit'" >Update</button>
<br>
<button class="is-red" onclick="location.href='/user/delete'">Delete Account</button>