{{!--

-If the user is not authenticaed and hits the endpoint 'GET /', you will render this view with a login form.
-The form will contain two inputs, one for username and one for password.
-The form will be used to submit a POST request to the '/login' route on the server and must have an 'id' of 'login-form'.
-The input for the username must have a 'name' and 'id' of 'userEmail'.
-The input for the password must have 'name' and 'id' of 'passwordInput' and should be an input 'type' of 'password'.
-You will also have a link on this page that links to '/register' and has the text "Click here to register!"

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute.
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label.

--}}
<div class="container"></div>
<hr>
<h1>Login Page</h1>
<br/>

<form id="login-form m-2" action="/login" method="post">
    <div class="form-group">
        <label for="userEmail">Email: </label>
        <input id="userEmail" name="userEmail" type="text">
    </div>
    <br/>
    <div class="form-group">
        <label for="passwordInput">Password: </label>
        <input id="passwordInput" name="passwordInput" type="password">        
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<hr>
<br/>
<br/>
<button class="btn btn-success" onclick="location.href='/register'">Create My Account</button>

{{#if error}}
    <h5>Error: </h5>
    <p class="is-red"> {{error}} </p>
{{/if}}